<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="eShopContext"
         connectionString="Server=tcp:PROD_SERVER.database.windows.net;Database=eShopLegacy;Authentication=Active Directory Default;TrustServerCertificate=True;MultipleActiveResultSets=True"
         providerName="Microsoft.Data.SqlClient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <customErrors mode="On" xdt:Transform="SetAttributes(mode)" />
  </system.web>
</configuration>
